<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407564576904-jqcqlvtpd1fpddd5iggf9ork9tt6uk53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407564576904-jqcqlvtpd1fpddd5iggf9ork9tt6uk53</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjvp_RUo82-zMTFWHPkNpVjnJfZA93vg</string>
	<key>GCM_SENDER_ID</key>
	<string>407564576904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.finda.models</string>
	<key>PROJECT_ID</key>
	<string>lyrical-brook-207514</string>
	<key>STORAGE_BUCKET</key>
	<string>lyrical-brook-207514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407564576904:ios:0e044d05ac66afa8</string>
	<key>DATABASE_URL</key>
	<string>https://lyrical-brook-207514.firebaseio.com</string>
</dict>
</plist>